<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TinhServlet</servlet-name>
        <servlet-class>controller.TinhServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <context-param>
        <param-name>user</param-name>
        <param-value>namtt</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>678</param-value>
    </context-param>
    <servlet>
        <servlet-name>CheckboxServlet</servlet-name>
        <servlet-class>controller.CheckboxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TinhServlet</servlet-name>
        <url-pattern>/tinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckboxServlet</servlet-name>
        <url-pattern>/checkbox</url-pattern>
    </servlet-mapping>
</web-app>
