<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NumberServlet</servlet-name>
        <servlet-class>controller.NumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcatenateServlet</servlet-name>
        <servlet-class>controller.ConcatenateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReverseServlet</servlet-name>
        <servlet-class>controller.ReverseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>controller.DateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumberServlet</servlet-name>
        <url-pattern>/NumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcatenateServlet</servlet-name>
        <url-pattern>/ConcatenateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReverseServlet</servlet-name>
        <url-pattern>/reverse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/DateServlet</url-pattern>
    </servlet-mapping>
</web-app>
